<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Are you paying too much?</title>
	<link rel="stylesheet" href="/css/home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- jQuery -->  
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->   
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
	<script>
		// Global variable
		// Maybe namespace instead? see - http://stackoverflow.com/questions/5781197/sharing-js-variables-in-multiple-script-blocks
		$(document).ready(function(){

			var questionsRent = [{
									friendlyName : "Zipcode",
									questionText : "What is your zipcode?",
									inputValidation : function(){ /*alert("Validation!");*/},
								},
								{
									friendlyName : "BedroomsCounts",
									questionText : "How many bedrooms do you have?",
									inputValidation : function(){},
								},
								{
									friendlyName : "BathroomsCount",
									questionText : "How many bathrooms do you have?",
									inputValidation : function(){},
								},
								{
									friendlyName : "Rent",
									questionText : "How much do you pay?",
									inputValidation : function(){},
								}];
			var answers = [];
			var questionCounter = -1;

			$(".panel-questions").hide();
			$("#myDiv").hide();

    		$("#rentId").click(function(){
        		$(".panel-icons").fadeOut(1000, "swing", function(){
        			showNextQuestion();
        			//$(".panel-questions").fadeIn(1000,"swing";
        		});
   	 		});


   	 		$(".hm-rentImg").click(function(){
   	 			var uploadURL = "http://localhost:3000/upload"

				$.post(
						uploadURL,
				      	{
				      	  context: "rent",
				          zipcode: "98103",
				          bedrooms: "1",
				          bathrooms: "1",
				          rent: "1200"
				        },
				        function(data,status){
				        	//var obj = JSON.parse(data);
    						//var tid = obj.test;
    						var txt = "";
    						var x;
							for (x in data) {
							    txt += x + ", " + data[x] + " ";
							}
							alert("Text is ->" + txt + 
								"\nStatus is " + status);



           			  		if (status == 'success')
           			  		{
           			  			console.log("Success!!!");
           			  			$("#myDiv").show();
           			  			$(".hm-panel").hide();
           			  			var aggregateArr = [];
           			  			aggregateArr.push(data['avgRent']);
           			  			aggregateArr.push(data['avgRent']);
           			  			aggregateArr.push(data['avgRent']);
           			  			aggregateArr.push(data['userRent']);


           			  			document.getElementById("userRentId").innerHTML = "Your rent is " + data['avgRent'];

           			  			document.getElementById("avgRentId").innerHTML = "Your rent is " + data['userRent'];

           			  			var trace1 = {
												  x: ['Average', 'Median', 'Mode', 'Yours'],
												  y: aggregateArr,
												  marker:{
												    color: ['rgba(204,204,204,1)', 'rgba(204,204,204,1)', 'rgba(204,204,204,1)', 'rgba(222,45,38,0.8)']
												  },
												  type: 'bar',
												  text: ['4.17 below the mean', '4.17 below the mean', '0.17 below the mean', '0.17 below the mean', '0.83 above the mean', '7.83 above the mean']
											  };

												var data = [trace1];

												var layout = {
												  title: 'Rent reported in your neighborhood'
												};

												Plotly.newPlot('plotlyDiv', data, layout);
           			  			//document.getElementById("avgRentId").innerHTML = "Your rent is " + data['userRent'];

           			  			//document.getElementById("avgRentId").innerHTML = "Average rent in your zipcode is " + data['avgRent'];


           			  		}
           			  		else
           			  			console.log("Nope");
				        	//alert("data is " + data + "\n Status is " + status);
				        	//window.location = data.redirect;
				        }
				      );
   	 		})

   	 		$("#nextButtonId").click(function(){
   	 			answers[questionCounter] = $.trim($("#inputTextId").val());
   	 			questionsRent[questionCounter].inputValidation();

   	 			if (questionCounter >= 0 && questionCounter >= questionsRent.length - 1)
   	 				uploadDataPost();
   	 			else
					$(".panel-questions").fadeOut(1000,"swing", function(){
						 showNextQuestion();
					});
   	 		})

   	 		function uploadDataPost(){
   	 			var uploadURL = "http://localhost:3000/upload"

				$.post(
						uploadURL,
				      	{
				      	  context: "rent",
				          zipcode: answers[0],
				          bedrooms: answers[1],
				          bathrooms: answers[2],
				          rent: answers[3]
				        },
				        function(data,status){
				        	var obj = JSON.parse(data);
    						//var tid = obj.test;
           			  		alert("Data name from POST" + obj.user + "\nStatus: " + status);
           			  		if (status == 'success')
           			  		{
           			  			console.log("Success!!!");
           			  			//$("#myDiv").show();
           			  			//$(".hm-panel").hide();
           			  		}
           			  		else
           			  			console.log("Nope");
				        	//alert("data is " + data + "\n Status is " + status);
				        	//window.location = data.redirect;
				        }
				      );
   	 		}


   	 		function uploadData()
   	 		{
   	 			var uploadURL = "http://localhost:3000/upload";

   	 			$.get(
   	 				  	uploadURL, 
   	 				  	{
				      	  context: "rent",
				          zipcode: answers[0],
				          bedrooms: answers[1],
				          bathrooms: answers[2],
				          rent: answers[3]
				      	},
					  	function(data, status){
					  		//var obj = JSON.parse(data);
    						//var tid = obj.name;
           			  		//alert("Data name " + tid + "\nStatus: " + status);
       				  	}
       				 );
   	 		}

   	 		function showNextQuestion(){
   	 			++questionCounter;
   	 		 	$('#questionId').text(questionsRent[questionCounter].questionText);
   	 		 	$(".panel-questions").fadeIn(1000,"swing", function(){
   	 		 		$('#inputTextId').val(''); // clear
   	 				$('#inputTextId').focus(); // focus
   	 		 	});
   	 		}

		});
	</script>
</head>
<body>
	<!-- Container for selecting utility type -->
	<div class="hm-panel">
		<div class="panel-icons">
			<li class="hm-utilitycontainer" id="rentId">
				<h1 class="hm-title">Rent</h1>
				<a><img class="hm-rentImg" src="/images/rent.png"></a>
			</li>	
			<li class="hm-utilitycontainer" id="internetId">
				<h1 class="hm-title">Internet</h1>
				<a><img class="hm-rentImg" src="/images/rent.png"></a>
			</li>
		</div>
		<div class="panel-questions">
			<li class="hm-questionscontainer" id="questionText">
				<p id="questionId"> What is your zipcode? </p>
			</li>
			<li class="hm-questionscontainer">
				<input id="inputTextId" type="text" />
			</li>
			<li class="hm-questionscontainer">
				<button id="nextButtonId" type="button"> -> </button>
			</li>
		</div>				
	</div>


	<div id="myDiv">
		<div id="plotlyDiv" style="width:600px;height:250px;" />
		<h1 id="userRentId" />
		<h1 id ="avgRentId" />
	</div>

</body>
</html>