<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Your rent visualized!</title>
	<link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
<h1> This is where we will show the magic! </h1>
<!-- <div>
    <a href="https://plot.ly/~chivagarg/24/" target="_blank" title="" style="display: block; text-align: center;"><img src="https://plot.ly/~chivagarg/24.png" alt="" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="chivagarg:24"  src="https://plot.ly/embed.js" async></script>
</div> -->

<iframe width=750 height=500 frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~chivagarg/24"> </iframe>


</body>
</html>